.jumbotron {
  padding-top: 6rem;
  background-color: rgb(130, 243, 205);
}

#project {
  background-color: rgb(130, 243, 205);
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
