.jumbotron {
  padding-top: 6rem;
  background-color: rgb(130, 243, 205);
}

#project {
  background-color: rgb(130, 243, 205);
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}

/* My Food Section */
.food-box {
  position: relative;
  background-color: rgb(27, 163, 134);
  border-radius: 10px;
  height: 500px;
  transform-style: preserve-3d;
}

.food-box::before {
  content: "MY";
  position: absolute;
  color: #fff;
  font-size: 6em;
  font-weight: bold;
  font-style: italic;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  transition: 0.5s;
  opacity: 0;
}

.food-box:hover::before {
  opacity: 0.2;
}

.food-box::after {
  content: "FOOD";
  position: absolute;
  color: #fff;
  font-size: 4.3em;
  font-weight: bold;
  font-style: italic;
  top: 350px;
  left: 450px;
  left: 50%;
  transform: translate(-50%, 0);
  transition: 0.5s;
  opacity: 0;
}

.food-box:hover::after {
  opacity: 0.2;
}

.food-name {
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 2em;
  opacity: 0;
  transform: translate3d(0, 0, 50px);
  transition: 0.5s;
}

.food-box:hover .food-name {
  top: 20px;
  opacity: 1;
}

.food-detail-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 100px);
  opacity: 0;
  transition: 0.5s;
}

.food-box:hover .food-detail-button {
  opacity: 1;
  bottom: 20px;
}

.food-img {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate3d(-50%, -52%, 80px);
  max-width: 350px;
  max-height: 280px;
}

.food-box:hover .food-img {
  transform: translate3d(-50%, -52%, 100px) rotate(10deg) scale(1.2);
}
